<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.customer.model.BookDAO">
	<select id="bookSearchDao" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
		WHERE
			type = #{type}
			AND category = #{category}
		ORDER BY book 
	</select>
	
	<select id="orderBookCategory" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
		WHERE category = #{category}
	</select>
	
	<select id="orderBook" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
		WHERE
			type = #{type} and category=#{category}
		ORDER BY book
	</select>
	
	<select id="orderBookDetail" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
		WHERE isbn = #{isbn}
	</select>
	
	<select id="searchBook" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
			WHERE type = #{type}
			AND TITLE like '%${title}%'
		ORDER BY book 
	</select>
	
	<select id="searchBookCategory" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
			WHERE category = #{category}
			AND TITLE like '%${title}%'
		ORDER BY book 
	</select>
	
	<select id="allList" resultType="com.kosta.customer.model.BookVO">
		SELECT * FROM BOOK_INFO WHERE TYPE = '국내도서' OR TYPE = '외국도서' OR TYPE = 'E-Book'  ORDER BY BOOK DESC
	</select>
	<insert id="bookWrite">
		INSERT INTO BOOK_INFO
		(title,
		price, 
		author, 
		publisher, 
		type, 
		isbn, 
		category
		)		 
		VALUES (
			'${title}',
			${price},
			'${author}',
			'${publisher}',
			'${type}',
			'${isbn}',
			'${category}'
				)
	</insert>
	<select id="bookOneSearchDao" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
			WHERE TITLE LIKE '%${title}%'
			AND (TYPE = '국내도서'
			OR TYPE = '외국도서'
			OR TYPE = 'E-Book') 
		ORDER BY book 
	</select>
	<select id="bookNoTypeSearchDao" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
		WHERE TITLE like '%${title}%'
	</select>
	<select id="bookTypeSearchDao" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
			WHERE type like '%${type}%'
			AND TITLE like '%${title}%'
		ORDER BY book
		
	</select>
	<select id="usedSelectDao" resultType="com.kosta.customer.model.BookVO">
		SELECT * 
		FROM BOOK_INFO
			WHERE TITLE LIKE '%${title}%'
			AND (TYPE = '국내도서'
			OR TYPE = '외국도서'
			OR TYPE = 'E-Book') 
		ORDER BY book 
		
	</select>
</mapper>
