<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kosta.book.admin.mEmployee.model.ManageEmployeeDAO">
  	<select id="selectAll" resultType="com.kosta.book.admin.mEmployee.model.ManageEmployeeVO">
  		select * from employee where branch = #{branch} order by empno	
  	</select>
  	<select id="selectByname" resultType="com.kosta.book.admin.mEmployee.model.ManageEmployeeVO">
  		select * from employee where name like '%' || #{name} || '%' and branch=#{branch} order by empno
  	</select>
  	<insert id="insertBronze">
  		insert into employee values(seq_empno_bronze.nextVal, #{pwd}, #{name}, #{empclass}, #{address1}, #{address2}, 
  									#{phone}, #{gender}, #{birth}, #{branch})
  	</insert>
  	<insert id="insertGold">
  		insert into employee values(seq_empno_gold.nextVal, #{pwd}, #{name}, #{empclass}, #{address1}, #{address2}, 
  									#{phone}, #{gender}, #{birth}, #{branch})
  	</insert>
  	<insert id="insertPlatinum">
  		insert into employee values(seq_empno_platinum.nextVal, #{pwd}, #{name}, #{empclass}, #{address1}, #{address2}, 
  									#{phone}, #{gender}, #{birth}, #{branch})
  	</insert>
  	<insert id="insertDiamond">
  		insert into employee values(seq_empno_diamond.nextVal, #{pwd}, #{name}, #{empclass}, #{address1}, #{address2}, 
  									#{phone}, #{gender}, #{birth}, #{branch})
  	</insert>
  	<update id="update">
  		update employee set pwd=#{pwd}, phone=#{phone} where empno=#{empno}
  	</update>
	<delete id="delete">
		delete employee where empno=#{empno}
	</delete>
  </mapper>