<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kosta.book.organ.mOrgan.model.ManageOrganDAO">
	<insert id="ebookReq">
		insert into ebook_reqList values(seq_ebook_reqNo.nextVal, #{isbn}, #{title}, #{ono})
	</insert>
	<select id="ebookList" resultType="com.kosta.book.admin.mInventory.model.BookInfoVO">
		select * from book_info where type = 'ebook' order by title
	</select>
	<select id="ebookReqList" resultType="com.kosta.book.organ.mOrgan.model.ManageOrganVO">
		select * from ebook_reqList where ono=#{ono}
	</select>
	<select id="searchEbook" resultType="com.kosta.book.admin.mInventory.model.BookInfoVO">
		select * from book_info where title like '%' || #{title} || '%'
	</select>
	<select id="ebookDistList" resultType="com.kosta.book.organ.mOrgan.model.ManageOrganVO">
		select * from ebook_distList where ono=#{ono}
	</select>
</mapper>