<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- customerMapper.xml -->
<mapper namespace = "customer">
	
	<select id="customerList"
			resultType="com.kosta.customer.model.CustomerVO">
		select * from customer order by id
	</select>
	<insert id="insertCustomer">
		insert into Customer(id, pwd, zipcode, address1, address2,  email, phone) 
                values(#{id}, #{pwd}, #{zipcode}, #{address1}, #{address2}, #{email}, #{phone})
	</insert>

</mapper>