<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta.customer.model.CustomerDAO">
	<select id="listDao" resultType="com.kosta.customer.model.CustomerVO">	
		SELECT * FROM Notice ORDER BY title DESC
	</select>
	
	
	<insert id="writeDao">
		INSERT INTO Notice (title, regDate, content) VALUES (BOARD_SEQ.NEXTVAL, #{param1}, #{param2})
	</insert>
	
	
	<delete id="deleteDao">
		DELETE FROM Notice WHERE title = #{param1}
	</delete>
	
	<select id="viewDao" resultType="com.kosta.customer.model.CustomerVO">	
		SELECT * FROM Notice WHERE title = #{param1}
	</select>
	
	
</mapper>
